fuigray1 			= #f8f8f8
fuipreclouds 		= #eff0f2
fuipreturquoise		= #48c9b0
fuiturquoise 		= #1abc9c
fuigreensea 		= #16a085
fuiemerald 			= #2ecc71
fuinephritis 		= #27ae60
fuipeterriver 		= #3498db
fuibelizehole 		= #2980b9
fuiamethyst 		= #9b59b6
fuiwisteria 		= #8e44ad
fuiwetasphalt 		= #34495e
fuimidnightblue 	= #2c3e50
fuisunflower 		= #f1c40f
fuiorange 			= #f39c12
fuicarrot 			= #e67e22
fuipumpkin 			= #d35400
fuializarin 		= #e74c3c
fuipomegranate 		= #c0392b
fuiclouds 			= #ecf0f1
fuisilver 			= #bdc3c7
fuiconcrete 		= #95a5a6
fuiasbestos 		= #7f8c8d

/************************************/
/********** GENEL KULLANIM **********/
/************************************/
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
box-shadow(){
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments
}
font_standart 	=  Lato, Arial, sans-serif
nopls			= none !important
/************************************/
/********** GENEL KULLANIM **********/
/************************************/
body {
	font-family font_standart
	padding-top 90px
	a:hover {
		cursor pointer
		text-decoration none
	}
	.cannotbeselected {
		-webkit-user-select: none !important;
		-khtml-user-select: none !important;
		-moz-user-select: none !important;
		-o-user-select: none !important;
		user-select: none !important;		
	}	
	.navbar-hrt {
		background fuiwetasphalt
		text-shadow rgba(0, 0, 0, 0.15) 0px -1px 0px
		border-color fuimidnightblue
		
		.navbar-brand {
			line-height 30px
			color white
			font-size 24px
			margin-right 40px
			font-weight 600
			&:hover {
				color white
			}	
		}
		.navbar-right {
			li {
				img {
					margin: 9px 6px 0 0;
					width: 44px;
					height: 44px					
				}
				a {
					padding-right 2px !important
					padding-left 2px !important
					li#login-dropdown-list  {
						a {
							background none !important
							text-decoration none !important 
							.caret {
								color white !important
								border-top: 4px solid white
							}
						}
						.dropdown-menu {
							.btn-tome {
								line-height 20px
								margin 5px 0 0
								padding 6px 0
								background fuiemerald !important
								color white !important
								&:hover {
									background fuinephritis !important
									color white !important
								}
							}
							#login-buttons-open-change-password {
								background fuiorange !important
								color white !important
								&:hover {
									background fuicarrot !important
									color white !important									
								}

							}
							input {
								box-shadow(none)
								margin-bottom 4px !important
								border-radius(5px) !important
							}
							.alert {
								text-shadow none !important
							}
							#login-other-options {
								a {
									padding 0
									text-shadow none !important
									color fuipeterriver
									font-weight 400
									&:hover {
										color fuibelizehole
										text-decoration underline !important
									}
								}
							}
						}
					}
				}

			}
		}
		
		.nav {  
			li {
				font-weight 600
				font-size 15px

				a {
					color rgba(255,255,255,0.7)
					padding 15px 15px
					line-height 30px
					&:hover {
						color white
						img {
							opacity 1
						}
					}
					i {
						margin-left 8px
						font-size 24px
						float right
						line-height 30px
					}
					img {
						width 25px
						height 25px
						opacity:0.7;
					}
				}
				&.active {
					a, a:hover {
						background rgba(0,0,0,0.3)
						color white
						img {
							opacity 1
						}
					}
				}
			}

		}

		.navbar-toggle {
			border-color rgba(255,255,255,0.1)
			margin-top 13px
			&:hover, &:focus {
				background rgba(0,0,0,0.3)
				border-color rgba(0,0,0,0.05)
			}
			.icon-bar {
				background white
			}
			&.active {
				background fuisunflower
			}

		}

		.navbar-collapse {
			border-color fuiwisteria
		}
	}
	.footer {
		padding 10px 0
		margin-top 10px
		text-align center
		border-top 1px solid fuipreclouds

	}
	.decks {
		.decks-top {
			margin-bottom 15px
			.toplatest {
				.btn {
					border none
					background fuipreclouds
					color fuiwetasphalt
					text-shadow none
					line-height 25px
					// height 56px


					&:active, &.active, &:hover {
						border none
						background fuiamethyst
						color white
						text-shadow none
						box-shadow none
					}
					&:hover {
						background fuiorange
					}
					&.active:hover {
						background fuiamethyst
					}
				}
				.user {
					h1 {
						font-family font_standart
						font-size 30px
						line-height 45px
						margin 0 0 0
						padding 0
						display inline
						vertical-align middle
						font-weight 300
					}
					img {
						width 45px
						height 45px
						border-radius(100%)
						vertical-align middle
						margin-right 10px
					}
				}
			}
			.selectclass {
				.btn-group {
					width 100%
					.btn {
						width 100%
						border none !important
						background fuiamethyst
						color white
						box-shadow none !important
						line-height 30px
						padding 8px 10px 7px
						text-align left
					}
					span.caret {
						margin-top 12px
						border-top-color white !important
					}
					ul {
						width 100%
						border none !important
						background fuiwetasphalt
						padding 4px
						li a {
							color white
							padding 5px 7px
							font-size 15px
							line-height 25px
							border-radius(4px)
							&:hover {
								background fuiorange
								cursor pointer
							}
							span {
								float left
								height 25px
								width 25px
								margin-right 6px
								background url(/img/classes256.png) no-repeat
								background-position 0 0
								border 0px solid white
								background-size 100%
								&.Druid {
									background-position 0 0
								}
								&.Hunter {
									background-position 0 -25px
								}
								&.Mage {
									background-position 0 -50px
								}
								&.Paladin {
									background-position 0 -75px
								}
								&.Priest {
									background-position 0 -100px
								}
								&.Rouge {
									background-position 0 -125px
								}
								&.Shaman {
									background-position 0 -150px
								}
								&.Warlock {
									background-position 0 -175px
								}
								&.Warrior {
									background-position 0 -200px
								}
								&.All.Classes {
									background-position 0 -225px
								}
							}
						}
					}
					&:hover {
						.btn {
							background fuiorange !important
						}
					}
					&.open {
						.btn {
							background fuicarrot !important
						}
					}
				}

				.btn-group .btn span.defselection {
					height 30px
					width 30px
					margin-right 6px
					background url(/img/classes256.png) no-repeat
					background-position 0 0
					border 0px solid white
					background-size 100%
					&.Druid {
						background-position 0 0
					}
					&.Hunter {
						background-position 0 -30px
					}
					&.Mage {
						background-position 0 -60px
					}
					&.Paladin {
						background-position 0 -90px
					}
					&.Priest {
						background-position 0 -120px
					}
					&.Rogue {
						background-position 0 -150px
					}
					&.Shaman {
						background-position 0 -180px
					}
					&.Warlock {
						background-position 0 -210px
					}
					&.Warrior {
						background-position 0 -240px
					}
					&.All.Classes {
						background-position 0 -270px
					}
				}		
			}
		}
		.decklist {
			background fuipreclouds
			margin 0 0 1px
			.unit {
				height 64px
				line-height 64px
			}
			.order {
				padding-right 0
				padding-left 0
				background fuipeterriver
				text-align center
				font-size 30px
				font-weight 300
				color white
				a {
					color white
					display block
					width 100%
				}
				&:hover {
					background fuibelizehole		
				}
			}
			.upvote {
				background rgba(0,0,0,0.1)
				color fuiasbestos
				i {
					display block
					text-align center
					font-size 50px
					margin-top -6px
				}
				div {
					height 30px
					text-align center
					margin-top -10px
					font-size 17px
					line-height 20px
				}
				&:hover, &.voted {
					background fuiemerald
					color white
					cursor pointer
				}
			}
			.name {
				color fuiwetasphalt
				padding 5px 15px
				a.name1 {
					font-weight 600
					line-height 30px
					height 30px
					overflow hidden
					font-size 15px
					display block
					color fuiwetasphalt
					word-break break-all
					&:hover {
						color fuipeterriver
					}
				}
				.name2 {
					line-height 20px
					display block
					font-size 12px
					a {
						color fuiwetasphalt
						img {
							width 20px
							height 20px
							border-radius(100%)
							margin-right 4px

						}
						&:hover {
							color fuipeterriver
						}					
					}
					span {
						font-weight 300
						color fuiasbestos
						margin-left 4px
					}

				}
			}
			.classes {
				font-size 13px
				span {
					width 40px
					height 40px
					background url(/img/classes256.png) no-repeat 0 0
					background-size 100%
					vertical-align middle
					float left
					margin 12px 6px 0 0
				}
				.Druid {
					background-position 0 -0px
				}
				.Hunter {
					background-position 0 -40px
				}
				.Mage {
					background-position 0 -80px
				}
				.Paladin {
					background-position 0 -120px
				}
				.Priest {
					background-position 0 -160px
				}
				.Rogue {
					background-position 0 -200px
				}
				.Shaman {
					background-position 0 -240px
				}
				.Warlock {
					background-position 0 -280px
				}
				.Warrior {
					background-position 0 -320px
				}
			}
			a.comments {
				position relative
				padding 0
				text-align center
				background fuisunflower
				i {
					color white
					font-size 44px
					margin-top 8px
				}
				.count {
					position absolute
					top -3px
					width 100%
					font-size 15px
					font-weight 600
					color fuisunflower
				}
				&:hover {
					background fuiorange

					.count {
						color fuiorange
					}
				}
			}
		}
		.load_more {
			margin-top 10px
			text-align center

			.btn {
				background fuipeterriver
				color white
				font-weight 600
				width 100%
				padding-top 15px
				padding-bottom 15px
				&:hover {
					background fuibelizehole
					color white
				}
			}
		}
		.column2 {
			font-family font_standart


			.comeon {
				background url(/img/hearthstone-artwork-01.jpg) no-repeat
				background-size 100%				
				text-align left
				border-radius(6px)
				padding 20px
				.btn-build {
					background fuinephritis
					color white
					&:hover {
						background fuiemerald
					}
				}
				h3 {
					font-family font_standart
					color white
					font-size 24px !important
					text-shadow 0 -1px rgba(0,0,0,0.6)
				}
			}
		}
	}
	.singledeck {
		.section1 {
			.col1 {
				width 12%
				margin-right 3%
				float left
				.upvote {
					background rgba(0,0,0,0.1)
					color fuiasbestos
					i {
						display block
						text-align center
						font-size 50px
						height 36px
						line-height 36px
					}
					div {
						height 42px
						text-align center
						margin-top -10px
						font-size 27px
						line-height 42px
					}
					&:hover {
						background fuiemerald
						color white
						cursor pointer
					}
					&.voted, &.voted:hover {
						background fuiemerald
						color white
						cursor pointer						
					}
				}
			}
			.col2 {
				width 85%
				float left
				font-family font_standart !important
				h1 {
					font-family font_standart !important
					font-weight: 300;
					margin 0 0 4px
					color fuimidnightblue
				}
				.info1 {
					font-size 17px
					a {
						color fuiconcrete
						&:hover {
							color fuipeterriver
						}
						img {
							width: 24px;
							height: 24px;
							float: left;
							margin-right: 6px;
							border-radius(100%)
						}
					}
					span {
						font-weight 300
						color fuiconcrete
						margin 0 4px 0 2px
					}
				}
			}
			.description {
				display block
				float left
				margin 10px 0 0
				p {
					font-size 17px
					font-weight 300
				}
			}			
			ul.comments {
				list-style-type none
				padding 0
				margin 10px 0 0
				line-height 1.4
				float left
				width 100%
				li {
					float left
					border-top 1px solid fuipreclouds
					padding 20px 0
					width 100%
					.col1 {
						float left
						width 12%
						margin-right 3%
						img {
							width 100%
							height auto
							background fuipreclouds
							border-radius(56px)
							border 0 none !important
							box-shadow(none)
							margin 0px 0 3px
						}

					}
					.col2 {
						width 85%
						float left
						p {
							margin-bottom 10px
							font-size 16px
							font-weight 300
						}
						.whowhen {
							text-align right
							color fuiconcrete
							font-size 13px
							.name {
								font-weight 600
								line-height 15px
								text-align right
								padding 0
								color fuiwetasphalt
								display inline-block
								word-break break-all
								&:hover {
									color fuipeterriver
								}
							}						
							.timeago {
								color fuiconcrete
								
								line-height 15px
								text-align center
								display inline-block
							}
						}
						textarea {
							width 100%
							border-color fuisilver
							resize vertical
							margin-bottom 10px
							max-height 400px
						}
						.btn {
							background fuiemerald
							color white
							float right
							&:hover {
								background fuinephritis
							}
						}
					}
				}
			}
		}
		.section2 {
			img {
				background url(/img/heroes/hearthstone-card-back.png) no-repeat 0 0;
				background-size 100%
				height auto
				display block
				width 80%
				margin 0 10% 5%
			}
			ul.curves {
				padding 9px
				background fuipreclouds
				margin 0 0 1px
				height 151px
				list-style-type none
				li {
					width 12.5%
					padding-right 1px
					float left
					&:nth-child(2n+1) {
						.bar {
							background rgba(255,255,255,0.7)
						}
					}					
					.bar {
							height 100px
							background white
							margin 0 4px 8px
							position relative

							.actual {
									position absolute
									bottom 0
									width 100%
									background fuiorange
									.number {
										top -20px
										position absolute
										text-align center
										font-size 12px
										color fuiwetasphalt
										line-height 20px
										font-weight 600
										width 100%
									}
							}
					}
					.mana {
						span {
							background url(/img/mana.png) no-repeat
							background-size 300%
							width 100%
							line-height 26px
							margin 2px auto
							display block
							text-align center
							color white
							font-size 16px
							font-weight 600
						}
					}
				}
			}
			ul.cardlist {
				margin 0
				padding 0
				list-style-type: none
				li a {
					border-bottom 1px solid white
					display block
					height 37px
					width 100%
					padding 3px
					background url(/img/cardlist-layer.png) repeat-y
					background-size 100%
					position relative
					z-index 5
					&:hover {
						span.name {
							color fuipeterriver
						}
					}
					span.mana {
						background url(/img/mana.png) -60px 0 no-repeat
						background-size 300%
						width 30px
						height 27px
						line-height 27px
						float left
						color white
						text-align center
						margin 2px
		 			}
					span.name {
						float left
						margin 0 6px
						height 30px
						line-height 30px
						font-size 18px
						color fuiwetasphalt
						text-shadow 1px 1px white
					}
					span.count {
						float right
						height 30px
						line-height 30px
						background fuializarin
						padding 0 8px
						border-radius(4px)
						color white
						width: 28px;
						text-align: center;
						font-size 15px
						font-weight 600
					}
				}
			}			
		}
		.column2 {
			font-family font_standart


			.comeon {
				background url(/img/hearthstone-artwork-01.jpg) no-repeat
				background-size 100%				
				text-align left
				border-radius(6px)
				padding 20px
				.btn-build {
					background fuinephritis
					color white
					&:hover {
						background fuiemerald
					}
				}
				h3 {
					font-family font_standart
					color white
					font-size 24px !important
					text-shadow 0 -1px rgba(0,0,0,0.6)
				}
			}
		}
	}
	.singlecard {
		h1 {
			font-family font_standart
			margin-top 0
			background fuiwetasphalt
			color white
			text-align center
			padding 6px
			font-weight 800
			font-size 30px
			text-shadow 0 -1px rgba(0,0,0,0.5)
			border-bottom 3px solid rgba(0,0,0,0.2)
		}
		.color-red1 {
			background fuializarin
			color rgba(255,255,255,0.8)
		}
		.color-red2 {
			background fuipomegranate
			color rgba(255,255,255,0.8)
		}
		.color-blue1 {
			background fuipeterriver
			color rgba(255,255,255,0.8)
		}
		.color-blue2 {
			background fuibelizehole
			color rgba(255,255,255,0.8)
		}
		.color-purple1 {
			background fuiamethyst
			color rgba(255,255,255,0.8)
		}
		.color-purple2 {
			background fuiwisteria
			color rgba(255,255,255,0.8)
		}
		.color-yellow1 {
			background fuisunflower
			color rgba(255,255,255,0.8)
		}
		.color-yellow2 {
			background fuiorange
			color rgba(255,255,255,0.8)
		}
		.color-orange1 {
			background fuicarrot
			color rgba(255,255,255,0.8)
		}
		.color-orange2 {
			background fuipumpkin
			color rgba(255,255,255,0.8)
		}
		.color-darkblue1 {
			background fuiwetasphalt
			color rgba(255,255,255,0.8)				
		}
		.color-darkblue2 {
			background fuimidnightblue
			color rgba(255,255,255,0.8)				
		}
		.color-gray1 {
			background fuipreclouds
			color rgba(0,0,0,0.8)				
		}
		.color-gray2 {
			background fuisilver
			color rgba(0,0,0,0.8)					
		}
		.color-turquoise1 {
			background fuiturquoise
			color rgba(255,255,255,0.8)				
		}
		.color-turquoise2 {
			background fuigreensea
			color rgba(255,255,255,0.8)					
		}
		.common {
			background #333
			color rgba(255,255,255,0.8)					
		}
		.epic {
			background #A335EE
			color rgba(255,255,255,0.8)		
		}
		.free {
			background fuipreclouds
			color rgba(0,0,0,0.8)	
		}
		.legendary {
			background  #FF8000
			color rgba(255,255,255,0.8)		
		}
		.rare {
			background #0070FF
			color rgba(255,255,255,0.8)		
		}
		ul.infobadges {
			float left
			width 100%
			margin-bottom 8px

			li {
				float left
				width 32%
				height 74px
				margin-right 2%
				text-align center
				&:nth-child(n+3) {
					margin-right 0
				}
				.title {
					padding 2px 6px
					text-align center
					font-size 11px
					font-weight 600
					line-height 16px
					width 100%
					background rgba(0,0,0,0.2)
					border-bottom 0px solid rgba(0,0,0,0.3)
				}
				.info {
					display table
					width 100%
					height 54px
					text-align center
					font-size 20px
					font-weight 400
					line-height 20px
					padding 0 4px
					text-transform capitalize
					&.font2 {
						font-size 36px
					}
					&.font3 {
						font-size 13px
						line-height 16px
					}
					span {
						vertical-align middle
						text-align center
						display table-cell

					}
				}
			}
		}
		.texts {
			margin-top 20px
			font-family font_standart !important
			.unit {
				border-right 1px solid white

				h2{
					font-size 16px
					margin 0
					font-family font_standart !important
					font-weight 600
					text-align left
					border-bottom 1px solid fuiwetasphalt
					padding 4px 0
				}
				p {
					padding 4px 0
				}
			}
		}
		.bigtexts {
			margin-top 20px
			font-family font_standart !important
			.unit {
				border-right 1px solid white
				margin 20px 0

				h3 {
					font-size 20px
					margin 0
					font-family font_standart !important
					font-weight 600
					text-align left
					border-bottom 1px solid fuiwetasphalt
					padding 4px 0
				}
				p {
					padding 4px 0
					font-size 16px
				}
			}
		}			
		.column2 {
			font-family font_standart
			.comeon {
				background url(/img/hearthstone-artwork-01.jpg) no-repeat
				background-size 100%				
				text-align left
				border-radius(6px)
				padding 20px
				.btn-build {
					background fuinephritis
					color white
					&:hover {
						background fuiemerald
					}
				}
				h3 {
					font-family font_standart
					color white
					font-size 24px !important
					text-shadow 0 -1px rgba(0,0,0,0.6)
				}
			}
		}		
	}
	.builddeck {
		margin-top 14px
		.row {
			.filter1 {
				ul {
					list-style-type none
					margin 0
					padding 0					
					width 60px
					border-radius(6px 0 0 6px)
					overflow hidden
					li {
						color white
						font-size 17px
						height 60px
						text-align center
						line-height 60px
						margin-bottom 1px
						background fuipreclouds
						span {
							background url(/img/classes256.png) no-repeat 0 0;
							background-size 100%
							width 50px
							height 50px
							margin 5px
							display inline-block						
						}
						&#Druid span {
							background-position 0 0
						}
						&#Hunter span {
							background-position 0 -50px
						}
						&#Mage span {
							background-position 0 -100px
						}
						&#Paladin span {
							background-position 0 -150px
						}
						&#Priest span {
							background-position 0 -200px
						}
						&#Rogue span {
							background-position 0 -250px
						}
						&#Shaman span {
							background-position 0 -300px
						}
						&#Warlock span {
							background-position 0 -350px
						}
						&#Warrior span {
							background-position 0 -400px
						}
						
						&:hover, &.active {
							background-color fuiorange
							cursor pointer
						}
						&.active {
							background-color fuiamethyst
						}
					}
				}
			}
			.filter2 {
				ul {
					list-style-type none
					padding 0
					margin 0
					margin-left -36px
					background fuipreclouds
					li {
						line-height 31px
						height 31px
						border-bottom 1px solid white
						padding 0 7px
						color fuiwetasphalt
						font-weight 400
						&:nth-child(2n+1) {
							line-height 30px
							height 30px
							background rgba(0,0,0,0.1)
						}
						&:last-child {
							border-bottom none
							&:hover {
								background rgba(0,0,0,0) !important
								cursor default 
							}
						}
						&:hover, &.active {
							background fuiorange
							color white
							cursor pointer
						}
						&.active {
							background fuiamethyst
						}
					}
				}
			}
			.filter3 {
				ul.classes {
					margin -35px 0 0 0 
					padding 0
					margin-left -29px
					list-style-type none
					height 35px
					li {
						width 15%
						background fuipreclouds
						float left
						padding 5px
						height 35px
						font-size 18px
						text-align left
						border-bottom 1px solid white
						line-height 25px
						border-radius(6px 0 0 0)
						&:last-child {
							border-left 1px solid white
							border-radius(0 6px 0 0)
						}
						&:hover, &.active {
							background fuiorange
							color white
							cursor pointer
						}
						&.active {
							background-color fuiamethyst
						}
						span.image {
							background url(/img/classes.png) no-repeat
							background-size 100%
							width 25px
							height 25px
							float left
							margin-right 8px
							border-radius(4px)
							&.Druid {
								background-position 0 -25px
							}
							&.Hunter {
								background-position 0 -50px
							}
							&.Mage {
								background-position 0 -75px
							}
							&.Paladin {
								background-position 0 -100px
							}
							&.Priest {
								background-position 0 -125px
							}
							&.Rogue {
								background-position 0 -150px
							}
							&.Shaman {
								background-position 0 -175px
							}
							&.Warlock {
								background-position 0 -200px
							}
							&.Warrior {
								background-position 0 -225px
							}
							&.Neutral {
								background-position 0 -250px
							}
						}
					}
				}
				ul.cards {
					margin 0 0 1px -29px
					padding 10px 50px
					list-style-type none
					height 458px
					background fuipreclouds
					height 502px
					position relative
					li {
						float left
						width 25%
						padding 0px
						height auto
						position relative
						img {
							display block
							width 100%
							height 235px
						}
						&:hover {
							cursor pointer
						}
						i {
							position absolute
							top 70px
							left 28px
							width 120px
							height 120px
							line-height 80px
							text-align center
							z-index 100
							font-size 120px
							color rgba(0,0,0,0.7)
						}
					}
					.arrow_left, .arrow_right {
						position absolute
						top 244px
						left 8px
						color fuiorange
						font-size 36px
						color fuiconcrete
						&:hover {
							color fuiorange
							cursor pointer
						}
					}
					.arrow_right {
						left initial
						right 8px
					}
				}
				ul.manas {
					margin 0
					list-style-type none
					background fuipreclouds
					margin-left -29px
					height 46px
					padding 5px
					
					li {
						width 44px
						height 41px
						float left
						line-height 27px

						text-align center
						font-size 15px
						font-family font_standart !important
						span {
							background url(/img/mana.png) no-repeat 0 0
							background-size 300%
							width 40px
							height 36px
							float left
							text-align center
							color white
							font-family font_standart
							font-weight 600
							line-height 35px
							font-size 18px
						}
						&:hover, &.active {
							cursor pointer
							span {
								background-position -40px 0
							}
						}
						&.active {
							span {
								background-position -80px 0
							}
						}
					}

				}
			}
			.filter4 {
				.image {
					background url(/img/heroes.png) 0 0
					background-size 100%
					margin-left -29px
					margin-top -35px
					height 60px
					border-bottom 1px solid white
					border-radius(6px 6px 0 0)
					&.Druid {
						background-position 0 0px
					}
					&.Hunter {
						background-position 0 -60px
					}
					&.Mage {
						background-position 0 -120px
					}
					&.Paladin {
						background-position 0 -180px
					}
					&.Priest {
						background-position 0 -240px
					}
					&.Rogue {
						background-position 0 -300px
					}
					&.Shaman {
						background-position 0 -360px
					}
					&.Warlock {
						background-position 0 -420px
					}
					&.Warrior {
						background-position 0 -480px
					}
				}
				input.title {
					font-size: 14px;
					margin 0 0 1px -29px 
					padding: 3px;
					color fuisilver
					width 194px
					height 31px
					margin-left: -29px;
					background: black;
					color: white;
					font-weight: 600;
					padding: 3px 8px;
					line-height: 26px;
					font-size: 18px;
					text-align: center
					border-radius(0)
					border none
				}
				ul.curves {
					padding 7px 9px
					background fuipreclouds
					margin 0
					height 138px
					list-style-type none
					margin-left -29px
					li {
							width 12.5%
							padding-right 1px
							float left
							
							.bar {
									height 100px
									background white
									margin-bottom 8px
									position relative
									.actual {
											position absolute
											bottom 0
											width 100%
											background fuiorange
											.number {
												top -20px
												position absolute
												text-align center
												font-size 12px
												color fuiwetasphalt
												line-height 20px
												font-weight 600
												width 100%
											}
									}
							}
							.mana {
								span {
									background url(/img/mana.png) no-repeat
									background-size 300%
									width 19px
									height 17px
									line-height 16px
									margin 1px
									display block
									text-align center
									color white
									font-size 10px
									font-weight 600
								}
							}
							&:nth-child(2n+1) {
									.bar {
											background rgba(255,255,255,0.7)
									}
							}
					}
				}
				ul.cardlist {
					margin 1px 0 1px -29px
					padding 0
					height 306px
					list-style-type: none
					overflow scroll
					overflow-x hidden
					li {
						position relative
						border-bottom 1px solid white
						display block
						height 25px
						width 100%
						padding 0px
						z-index 1
						.cards_container {
							background:url(/img/cardlist-layer.png) no-repeat;
							position:relative;
							z-index:20;
							height:24px
							padding 0 0 0 2px
							span.mana {
								background url(/img/mana.png) -46px 0 no-repeat
								background-size 300%
								width 23px
								height 20px
								line-height 19px
								margin-top 2px
								float left
								color white
								text-align center
								font-size 12px
	 						}
							span.name {
								float left
								margin 0 6px
								margin-top 2px
								height 20px
								line-height 19px
								font-size 12px
								text-shadow 1px 1px white
							}
							span.count {
								float right
								height 24px
								line-height 24px
								background fuializarin
								padding 0 4px
								color white
								font-size 12px
								width: 17px;
								text-align: center;
								font-weight 600
							}
						}
						&:hover {
							cursor pointer
						}
					}
				}
				.submit_deck {
					background fuipreclouds
					margin-left -29px
					height 46px
					border-radius(0 0 6px 0)
					padding 6px
					.fade {
						-webkit-transition: opacity 0.10s linear;
						-moz-transition: opacity 0.10s linear;
						-ms-transition: opacity 0.10s linear;
						-o-transition: opacity 0.10s linear;
						transition: opacity 0.10s linear;
					}
					.selection_process {
						float left
						line-height 34px
						font-size 20px
						margin-left 4px
						color fuiwetasphalt
					}
					.btn-done {
						float right
						background fuinephritis
						color white
						font-weight 600
						font-size 17px
						line-height 24px
						padding 5px 30px
						border none
						&:hover {
							background fuiemerald
						}
					}
					#done {
						font-family font_standart !important
						.modal-dialog {
							margin-top 10%
							.modal-content {
								background fuipreclouds
								.modal-header {
									border-radius(6px 6px 0 0) 
									overflow hidden
									border none
									.alert {
										padding 10px 15px
										margin 10px 0
									}
									.modal-title {
										font-family font_standart !important
										width 60%
										font-size 20px
										height 40px
									}
								}
								.modal-body {
									padding 0 15px
									textarea {
										resize vertical
										font-size 16px
										font-family font_standart !important
									}
								}
								.modal-footer {
									margin 0
									padding 15px
									border none
								}
								.btn {
									border none !important
									&.btn-cancel {
										background white !important
										color fuiconcrete
									}
									&.btn-save {
										background fuiemerald
										color white
										&:hover {
											background fuinephritis
										}
									}
								}
							}
						}
					}
					#delete_current_deck {
						.modal-dialog {
							margin-top 10%
							.modal-content {
								.modal-body {
									padding 20px 25px 0
									font-size 17px
									text-align center
								}
								.modal-footer {
									margin 0
									padding 15px
									border none
									text-align center
								}
								.btn {
									border none !important
								}
							}
						}
					}
				}
			}
		}
	}
}