<template name="builddeck">
	<div class="container builddeck">
		<div class="row">
			<div class="col-md-1 filter1">
				<ul id="classes">
					<li class="Druid"></li>
					<li class="Hunter"></li>
					<li class="Mage"></li>
					<li class="Paladin"></li>
					<li class="Priest"></li>
					<li class="Rogue"></li>
					<li class="Shaman"></li>
					<li class="Warlock"></li>
					<li class="Warrior"></li>
				</ul>
			</div>
			<div class="col-md-1 filter2">
				<ul>
					<li>Battle Cry</li>
					<li>Stealth</li>
					<li>Courage</li>
					<li>Combo</li>
					<li>Death Battle</li>
					<li>Divine Shield</li>
					<li>Choose One</li>
					<li>Enrage</li>
					<li>Freeze</li>
					<li>Overload</li>
					<li>Seerel</li>
					<li>Silence</li>
					<li>Spell Damage</li>
					<li>Suman</li>
					<li>Transform</li>
					<li>Windfunny</li>
					<li>Taunt</li>
					<li></li>
				</ul>
			</div>
			<div class="col-md-8 filter3">
				<ul class="classes">
					<li id="notneutral">{{selected_class_tab}}</li>
					<li id="neutral">Neutral</li>
				</ul>
				<ul class="cards">
					{{> cards}}
					<i class="fa fa-arrow-circle-o-left arrow_left"></i>
					<i class="fa fa-arrow-circle-o-right arrow_right"></i>
				</ul>
				<ul class="manas">
					<li><span>All</span></li>
					<li><span>0</span></li>
					<li><span>1</span></li>
					<li><span>2</span></li>
					<li><span>3</span></li>
					<li><span>4</span></li>
					<li><span>5</span></li>
					<li><span>6</span></li>
					<li><span>7+</span></li>

				</ul>
			</div>
			<div class="col-md-2 filter4">
				<div class="image">
				</div>
				<p class="title" contenteditable="true">Give a name to your deck</p>
				<ul class="curves">
					<li>
						<div class="number">11</div>
						<div class="bar">
							<div class="actual" style="height: 70px;">
							</div>
						</div>
						<div class="mana">
							<span>0</span>
						</div>
					</li>
					<li>
						<div class="number">1</div>
						<div class="bar">
							<div class="actual">
							</div>
						</div>
						<div class="mana">
							<span>1</span>
						</div>
					</li>
					<li>
						<div class="number">22</div>
						<div class="bar"></div>
						<div class="mana">
							<span>2</span>
						</div>
					</li>
					<li>
						<div class="number">11</div>
						<div class="bar"></div>
						<div class="mana">
							<span>3</span>
						</div>
					</li>
					<li>
						<div class="number">1</div>
						<div class="bar"></div>
						<div class="mana">
							<span>4</span>
						</div>
					</li>
					<li>
						<div class="number">22</div>
						<div class="bar"></div>
						<div class="mana">
							<span>5</span>
						</div>
					</li>
					<li>
						<div class="number">11</div>
						<div class="bar"></div>
						<div class="mana">
							<span>6</span>
						</div>
					</li>
					<li>
						<div class="number">1</div>
						<div class="bar"></div>
						<div class="mana">
							<span>7+</span>
						</div>
					</li>
				</ul>
				<ul class="cardlist">
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
					<li>
						<span class="mana">1</span>
						<span class="name">card</span>
						<span class="count">2</spamn>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>