<template name="builddeck">
	<div class="container builddeck">
		<div class="row">
			<div class="col-md-1 filter1">
				<ul id="classes">
					<li id="Druid" class="{{druid_class_active}}"><span></span></li>
					<li id="Hunter" class="{{hunter_class_active}}"><span></span></li>
					<li id="Mage" class="{{mage_class_active}}"><span></span></li>
					<li id="Paladin" class="{{paladin_class_active}}"><span></span></li>
					<li id="Priest" class="{{priest_class_active}}"><span></span></li>
					<li id="Rouge" class="{{rouge_class_active}}"><span></span></li>
					<li id="Shaman" class="{{shaman_class_active}}"><span></span></li>
					<li id="Warlock" class="{{warlock_class_active}}"><span></span></li>
					<li id="Warrior" class="{{warrior_class_active}}"><span></span></li>
				</ul>
			</div>
			<div class="col-md-1 filter2">
				<ul>
					<li>Battle Cry</li>
					<li>Stealth</li>
					<li>Charge</li>
					<li>Combo</li>
					<li>Death Battle</li>
					<li>Divine Shield</li>
					<li>Choose One</li>
					<li>Enrage</li>
					<li>Freeze</li>
					<li>Overload</li>
					<li>Secret</li>
					<li>Silence</li>
					<li>Spell Damage</li>
					<li>Summon</li>
					<li>Transform</li>
					<li>Windfurry</li>
					<li>Taunt</li>
					<li></li>
				</ul>
			</div>
			<div class="col-md-8 filter3">
				<ul class="classes">
					<li id="notneutral" class="{{not_neutral_active}}">
						<span class="image {{selected_class_tab}}"></span>
						{{selected_class_tab}}
					</li>
					<li id="neutral" class="{{neutral_active}}">
						<span class="image Neutral"></span>
						Neutral
					</li>
				</ul>
				<ul class="cards">
					{{#isolate}}
					{{> cards}}
					{{/isolate}}
					<i class="fa fa-chevron-circle-left arrow_left"></i>
					<i class="fa fa-chevron-circle-right arrow_right"></i>
				</ul>
				<ul class="manas">
					{{#constant}}
					<li class="active" id="all"><span>All</span></li>
					<li><span>0</span></li>
					<li><span>1</span></li>
					<li><span>2</span></li>
					<li><span>3</span></li>
					<li><span>4</span></li>
					<li><span>5</span></li>
					<li><span>6</span></li>
					<li><span>7+</span></li>
					{{/constant}}
				</ul>
			</div>
			<div class="col-md-2 filter4">
				<div class="image {{selected_class_tab}}">
				</div>
				{{#isolate}}
				<input type="text" class="form-control title" placeholder="Deck Name">
				<ul class="curves">
					<li>
						<div class="bar">
							<div class="actual" style="height: {{height_0}}%;">
								<div class="number">{{mana_count_0}}</div>
							</div>
						</div>
						<div class="mana">
							<span>0</span>
						</div>
					</li>
					<li>
						
						<div class="bar">
							<div class="actual" style="height: {{height_1}}%;">
								<div class="number">{{mana_count_1}}</div>
							</div>
						</div>
						<div class="mana">
							<span>1</span>
						</div>
					</li>
					<li>
						
						<div class="bar">
							<div class="actual" style="height: {{height_2}}%;">
								<div class="number">{{mana_count_2}}</div>
							</div>
						</div>
						<div class="mana">
							<span>2</span>
						</div>
					</li>
					<li>
						
						<div class="bar">
							<div class="actual" style="height: {{height_3}}%;">
								<div class="number">{{mana_count_3}}</div>
							</div>
						</div>
						<div class="mana">
							<span>3</span>
						</div>
					</li>
					<li>
						
						<div class="bar">
							<div class="actual" style="height: {{height_4}}%;">
								<div class="number">{{mana_count_4}}</div>
							</div>
						</div>
						<div class="mana">
							<span>4</span>
						</div>
					</li>
					<li>
						
						<div class="bar">
							<div class="actual" style="height: {{height_5}}%;">
								<div class="number">{{mana_count_5}}</div>
							</div>

						</div>
						<div class="mana">
							<span>5</span>
						</div>
					</li>
					<li>
						
						<div class="bar">
							<div class="actual" style="height: {{height_6}}%;">
								<div class="number">{{mana_count_6}}</div>
							</div>
						</div>
						<div class="mana">
							<span>6</span>
						</div>
					</li>
					<li>
						
						<div class="bar">
							<div class="actual" style="height: {{height_7}}%;">
								<div class="number">{{mana_count_7}}</div>
							</div>
						</div>
						<div class="mana">
							<span>7+</span>
						</div>
					</li>
				</ul>
				{{/isolate}}
				{{#isolate}}
				{{> currentdeck}}
				{{/isolate}}
				<div class="submit_deck">
					<span class="selection_process">
						{{#isolate}}
						{{current_card_count_in_deck}}/30
						{{/isolate}}
					</span>
					<span class="btn btn-default btn-done {{disabled}}" data-toggle="modal" data-target="#done" >Done</span>
					<!-- Modal -->
					<div class="modal fade" id="done" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <input type="text" class="form-control modal-title" placeholder="Give a name to your deck">
					      </div>
					      <div class="modal-body" >
					       	<textarea class="form-control" placeholder="Type a description for the deck" rows="3"></textarea>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-lg btn-cancel" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-lg btn-save">Save</button>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
					<div class="modal fade" id="delete_current_deck" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									You haven't finished building your deck! <strong>Your cards will be lost.</strong><br>Do you wish to continue?
					      		</div>
					    		<div class="modal-footer">
					    			<button type="button" class="btn btn-danger" id="cancel_delete_deck">Cancel</button>
									<button type="button" class="btn btn-success" id="delete_deck">Continue</button>
									
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>
			</div>
		</div>
	</div>
</template>