<template name="builddeck">
	<div class="container builddeck">
		<div class="row">
			<div class="col-md-1 filter1">
				<ul>
					<li class="druid"></li>
					<li class="hunter"></li>
					<li class="mage"></li>
					<li class="paladin"></li>
					<li class="priest"></li>
					<li class="rogue"></li>
					<li class="shaman"></li>
					<li class="warlock"></li>
					<li class="warrior"></li>
				</ul>
			</div>
			<div class="col-md-1 filter2">
				<ul>
					<li>Battle Cry</li>
					<li>Stealth</li>
					<li>Courage</li>
					<li>Combo</li>
					<li>Death Battle</li>
					<li>Divine Shield</li>
					<li>Choose One</li>
					<li>Enrage</li>
					<li>Freeze</li>
					<li>Overload</li>
					<li>Seerel</li>
					<li>Silence</li>
					<li>Spell Damage</li>
					<li>Suman</li>
					<li>Transform</li>
					<li>Windfunny</li>
					<li>Taunt</li>
					<li></li>
				</ul>
			</div>
			<div class="col-md-8 filter3">
				<ul class="classes">
					<li >Mage</li>
					<li >Neutral</li>
				</ul>
				<ul class="cards">
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
					<li><img src="http://media-hearth.cursecdn.com/avatars/33/438/605.png"/></li>
				</ul>
			</div>
			<div class="col-md-2 filter4">
				<div class="image">
şasld
				</div>
			</div>
		</div>
	</div>
</template>