<template name="decklist">
	{{#each decks}}
	<div class="row decklist">
		
		<div class="col-md-1 unit order">
			<a href="">1
			</a>
		</div>
			
		<div class="col-md-1 unit upvote">
			<i class="fa fa-caret-up"></i>
			<div>{{upvote_count}}</div>
		</div>
			
		<div class="col-md-6 unit name">
			<a href="decklink" class="name1">{{deckname}}
			</a>
			<div class="name2">
				<a><img src="{{userpicture}}">{{username}}
				</a>
				<span>{{timeago timestamp}}</span>
			</div>
		</div>
			
		<div class="col-md-3 unit classes">
			<span class="{{class}}"></span>{{class}}
		</div>
		
		<a class="col-md-1 unit comments">
			<i class="fa fa-comment"></i>
			<div class="count">{{comment_count}}</div>
		</a>
	
	</div>
	{{/each}}
</template>