<template name="decklist">
	<div class="row decklist">
		
		<div class="col-md-1 unit order">
			<a href="">1
			</a>
		</div>
			
		<div class="col-md-1 unit upvote">
			<i class="fa fa-caret-up"></i>
			<div>150</div>
		</div>
			
		<div class="col-md-6 unit name">
			<a href="decklink" class="name1">Mulen Ruj
			</a>
			<div class="name2">
				<a><img src="https://gp6.googleusercontent.com/-D-epOo8-vQY/AAAAAAAAAAI/AAAAAAAAAAA/kXJYYxx8NCE/s48-c-k-no/photo.jpg">Momik
				</a>
				<span>34m ago</span>
			</div>
		</div>
			
		<div class="col-md-3 unit classes">
			<span class="BURAYA CLASS ADINI YAZDIRMAN YETERLİ"></span> Shaman
		</div>
		
		<a class="col-md-1 unit comments">
			<i class="fa fa-comment"></i>
			<div class="count">87</div>
		</a>
	
	</div>

	<div class="row decklist">
		
		<div class="col-md-1 unit order">
			<a href="">2
			</a>
		</div>
			
		<div class="col-md-1 unit upvote">
			<i class="fa fa-caret-up"></i>
			<div>131</div>
		</div>
			
		<div class="col-md-6 unit name">
			<a href="decklink" class="name1">King of All Decks
			</a>
			<div class="name2">
				<a><img src="https://gp6.googleusercontent.com/-D-epOo8-vQY/AAAAAAAAAAI/AAAAAAAAAAA/kXJYYxx8NCE/s48-c-k-no/photo.jpg">El Salvador
				</a>
				<span>39m ago</span>
			</div>
		</div>
			
		<div class="col-md-3 unit classes">
			<span class="Hunter"></span> Hunter
		</div>
		
		<a class="col-md-1 unit comments">
			<i class="fa fa-comment"></i>
			<div class="count">197</div>
		</a>
	
	</div>
</template>