<template name="decks">																						
	<div class="container decks">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="row decks-top" >
					<div class="col-md-9 toplatest">
						<div class="btn-group btn-group-lg">
							<button type="button" class="btn active">Top</button>
							<button type="button" class="btn">Latest</button>
						</div>
					</div>
					{{#isolate}}
						<div class="col-md-3 selectclass">
							<div class="btn-group">
							  <button type="button" class="btn dropdown-toggle btn-lg" data-toggle="dropdown">
							    <span class="defselection pull-left {{{selected_class}}"></span>
							    {{{selected_class}}
							    <span class="caret pull-right"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li><a><span class="All Classes"></span>All Classes</a></li>
								<li><a><span class="Druid"></span>Druid</a></li>
								<li><a><span class="Hunter"></span>Hunter</a></li>
								<li><a><span class="Mage"></span>Mage</a></li>
								<li><a><span class="Paladin"></span>Paladin</a></li>
								<li><a><span class="Priest"></span>Priest</a></li>
								<li><a><span class="Rogue"></span>Rogue</a></li>
								<li><a><span class="Shaman"></span>Shaman</a></li>
								<li><a><span class="Warlock"></span>Warlock</a></li>
								<li><a><span class="Warrior"></span>Warrior</a></li>
							  </ul>
							</div>
						</div>
					{{/isolate}}
				</div>
				{{> decklist}}
			</div>
			<div class="col-md-4 hidden-xs hidden-sm column2">
				<div class="comeon">
					<a href="/build-deck" class="btn btn-build btn-lg" >Build a Deck</a>
					<h3><span style="font-weight:800;font-size:50px"><span style="font-weight:300">&</span>BLOW</span><br><span style="font-size:37px"> OUR MIND</span><br>
						<span style="font-size:28px;font-weight:300">WITH YOUR STRATEGY</span></h3>

				</div>
			</div>
	</div>
</template>