<template name="privacy">
<div class="row">
	<div class="container static">
		<h1 id="h">Hearthingo - Privacy Policy</h1>
		
		<h3>What information do we collect?</h3>
		<p>We collect information from you when you register on our site.</p>

		<p>When ordering or registering on our site, as appropriate, you may be asked to enter your: name or e-mail address. You may, however, visit our site anonymously.</p>

		<p>Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy..</p>


		<h3>What do we use your information for? </h3>
		<p>Any of the information we collect from you may be used in one of the following ways: </p>

		<p>To personalize your experience</p>
		<p>(your information helps us to better respond to your individual needs)</p>

		<p>To improve our website</p>
		<p>(we continually strive to improve our website offerings based on the information and feedback we receive from you)</p>


		<h3>How do we protect your information? </h3>
		<p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. </p>


		<h3>Do we use cookies?</h3>
		<p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information</p>

		<p>We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.</p>


		<h3>Do we disclose any information to outside parties?</h3>
		<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>


		<h3>Online Privacy Policy Only</h3>
		<p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>


		<h3>Terms and Conditions</h3> 
		<p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at /terms-of-use</p>


		<h3>Your Consent</h3> 
		<p>By using our site, you consent to our online privacy policy.</p>


		<h3>Changes to our Privacy Policy</h3> 
		<p>If we decide to change our privacy policy, we will update the Privacy Policy modification date below.</p>

		<p>This policy was last modified on 08.20.2013</p>


		<h3>Contacting Us</h3> 
		<p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
		<p>innkeeper@hearthingo.com</p>
	</div>	
</div>
</template>