<template name="singledeck">																						
	<div class="container singledeck">
		<div class="row">
			<div class="col-md-5 section1">
				<div class="col1">
					<div class="upvote">
						<i class="fa fa-caret-up"></i>
						<div>52</div>
					</div>
				</div>
				<div class="col2">
					<h1>Miracle Rogue</h1>
					<div class="info1">
						<a class="userway"><img src="https://gp6.googleusercontent.com/-D-epOo8-vQY/AAAAAAAAAAI/AAAAAAAAAAA/kXJYYxx8NCE/s48-c-k-no/photo.jpg"/> Contador</a> <span>8h ago</span>
					</div>
				</div>
				<div class="description">
					<p>The deck, while fun to play, can be incredibly difficult to master and is not recommended for inexperienced players. On paper the list may seem very straightforward, but the deck can be very unforgiving to even the slightest of incorrect plays. Pushing “all-in” too early will leave your minion(s) vulnerable to any handful of removal spells, ultimately eliminating your win condition, while waiting until too late in the game will give your opponent the necessary time to swing the game in their favor. It requires a large attention to game detail and proper planning to fully utilize its capabilities.
					</p>
				</div>
				
				<ul class="comments">
					<li style="margin-top:0;">
						<div class="col1">
							<img src="https://d233eq3e3p3cv0.cloudfront.net/fit/c/190/190/0*S-tH4ibstPjOeVKp.png"/>
							<a class="name">Contador</a>
						</div>
						<div class="col2">
							<textarea placeholder="aisşd" rows="4"></textarea>
 							<button type="button" class="btn">Send</button>							
						</div>
					</li>
					<li>
						<div class="col1">
							<img src="https://d233eq3e3p3cv0.cloudfront.net/fit/c/190/190/0*S-tH4ibstPjOeVKp.png"/>
							<a class="name">Contador</a>
							<div class="timeago">17h ago</div>
						</div>
						<div class="col2">
							<p>I recently started to play and I don't have cards like Bloodmage Thalnos, Edwin VanCleef, Preparation, Mana Addict and Questing Adventurer but I realy like rogue play style, so now I'm running a "crippled" version of this deck, however it is still amazingly fun to play. I've got only 1 legendary card - Leeroy Jenkins and managed to get some good damage with him using shadowstep, cold blood and conceal. Thx for great deck!
							</p>
						</div>
					</li>
				</ul>
				
			</div>
			<div class="col-md-3 section2">
				<div class="image">
				</div>
				<ul class="curves">
					<li>
						<div class="number">11</div>
						<div class="bar">
							<div class="actual" style="height:50%">
							</div>
						</div>
						<div class="mana">
							<span>0</span>
						</div>
					</li>
					<li>
						<div class="number">1</div>
						<div class="bar">
							<div class="actual">
							</div>
						</div>
						<div class="mana">
							<span>1</span>
						</div>
					</li>
					<li>
						<div class="number">22</div>
						<div class="bar"></div>
						<div class="mana">
							<span>2</span>
						</div>
					</li>
					<li>
						<div class="number">11</div>
						<div class="bar"></div>
						<div class="mana">
							<span>3</span>
						</div>
					</li>
					<li>
						<div class="number">1</div>
						<div class="bar"></div>
						<div class="mana">
							<span>4</span>
						</div>
					</li>
					<li>
						<div class="number">22</div>
						<div class="bar"></div>
						<div class="mana">
							<span>5</span>
						</div>
					</li>
					<li>
						<div class="number">11</div>
						<div class="bar"></div>
						<div class="mana">
							<span>6</span>
						</div>
					</li>
					<li>
						<div class="number">1</div>
						<div class="bar"></div>
						<div class="mana">
							<span>7+</span>
						</div>
					</li>
				</ul>
				<ul class="cardlist">
					<li>
						<a href="/card/fireball">
							<span class="mana">3</span>
							<span class="name">Ofra Haza</span>
							<span class="count">2</spamn>
						</a>
					</li>
					<li>
						<a>
						<span class="mana">3</span>
						<span class="name">Ofra Haza</span>
						<span class="count">2</spamn>
						</a>
					</li>
					<li>
						<a>
						<span class="mana">3</span>
						<span class="name">Ofra Haza</span>
						<span class="count">2</spamn>
						</a>
					</li>
					<li>
						<a>
						<span class="mana">3</span>
						<span class="name">Ofra Haza</span>
						<span class="count">2</spamn>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 hidden-xs hidden-sm column2">
				<div class="comeon">
					<a href="/build-deck" class="btn btn-build btn-lg" >Build a Deck</a>
					<h3><span style="font-weight:800;font-size:48px"><span style="font-weight:300">& </span>BLOW</span><br><span style="font-weight:800;font-size:33px"> OUR MINDS</span><br>
						<span style="font-size:28px;font-weight:300">WITH YOUR STRATEGY</span></h3>

				</div>
			</div>
		</div>
	</div>
</template>