<template name="singlecard">																						
	<div class="container singlecard">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-5">
						<img src="/img/c00004.png" />
					</div>
					<div class="col-md-7">
						<h1>Force of Nature</h1>
						<ul class="infobadges">
							<li class="color-purple1">
								<div class="title">CLASS</div>
								<div class="info"><span>WARLOCK</span></div>
							</li>
							<li class="color-purple1">
								<div class="title">RARITY</div>
								<div class="info"><span>LEGENDARY</span></div>
							</li>
						</ul>
						<ul class="infobadges">
							<li class="color-blue1">
								<div class="title">COST</div>
								<div class="info font2"><span>1</span></div>
							</li>
							<li class="color-yellow1">
								<div class="title">ATTACK</div>
								<div class="info font2"><span>5</span></div>
							</li>
							<li class="color-red1">
								<div class="title">HP/DUR</div>
								<div class="info font2"><span>3</span></div>
							</li>
						</ul>
						<ul class="infobadges">
							<li class="color-turquoise2">
								<div class="title">TYPE</div>
								<div class="info"><span>HERO POWER</span></div>
							</li>
							<li class="color-turquoise2">
								<div class="title">SUBTYPE</div>
								<div class="info"><span>DEMON</span></div>
							</li>
						</ul>
						<ul class="infobadges">
							<li class="color-orange1">
								<div class="title">ABILITY</div>
								<div class="info"><span>DIVINE SHIELD</span></div>
							</li>
							<li class="color-orange1">
								<div class="title">ABILITY</div>
								<div class="info"><span>WINDFURRY</span></div>
							</li>
						</ul>
					</div>
				</div>
<!-- 				<div class="row texts">
					<div class="col-md-4">
						<div class="unit">
							<h2>HOW TO GET</h2>
							<p>You should do something to get this card.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="unit">
							<h2>CARD TEXT</h2>
							<p>You should do something to get this card.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="unit">
							<h2>FLAVOR TEXT</h2>
							<p>You should do something to get this card.</p>
						</div>
					</div>
				</div> -->
				<div class="row bigtexts">
					<div class="col-md-12">
						<div class="unit">
							<h3>HOW TO GET</h3>
							<p>You should do something to get this card.</p>
						</div>

						<div class="unit">
							<h3>CARD TEXT</h3>
							<p>Draw a card. Combo: Draw 2 cards instead.</p>
						</div>

						<div class="unit">
							<h3>FLAVOR TEXT</h3>
							<p>Rogues don't need to jump from the top of the 1000 Needles to get a burst of adrenaline.</p>
						</div>

						<div class="unit">
							<h3>STRATEGY</h3>
							<p>A card that deals 8 damage for 6 mana is a card that should not be taken lightly. Whether facing an opponent that has a full board of creatures, or a caster that relies on spell damage or their hero alone, having an empowered version of the mage card Arcane Missiles is powerful.</p>
							<p>A card that deals 8 damage for 6 mana is a card that should not be taken lightly. Whether facing an opponent that has a full board of creatures, or a caster that relies on spell damage or their hero alone, having an empowered version of the mage card Arcane Missiles is powerful.</p>
							<p>A card that deals 8 damage for 6 mana is a card that should not be taken lightly. Whether facing an opponent that has a full board of creatures, or a caster that relies on spell damage or their hero alone, having an empowered version of the mage card Arcane Missiles is powerful.</p>
						</div>
						<div class="unit">
							<h3>LORE</h3>
							<p>Avenging Wrath originated in World of Warcraft as a paladin ability. It grants +20% damage and healing for 20 seconds and visually shows golden wings and an ambient glow on the paladin.</p>
						</div>
						<div class="unit" style="text-align:right !important;">
							<h3 style="text-align:right !important;">ARTIST</h3>
							<p>John Smith</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 hidden-xs hidden-sm column2">
				<div class="comeon">
					<a href="/build-deck" class="btn btn-build btn-lg" >Build a Deck</a>
					<h3><span style="font-weight:800;font-size:48px"><span style="font-weight:300">& </span>BLOW</span><br><span style="font-weight:800;font-size:33px"> OUR MINDS</span><br>
						<span style="font-size:28px;font-weight:300">WITH YOUR STRATEGY</span></h3>

				</div>
			</div>
		</div>
	</div>
</template>