<template name="singledeck">																						
	<div class="container singledeck">
		<div class="row">
			<div class="col-md-6">
				<h1>Miracle Rogue</h1>
				<div class="info1">
					<a class="userway"><img src="https://gp6.googleusercontent.com/-D-epOo8-vQY/AAAAAAAAAAI/AAAAAAAAAAA/kXJYYxx8NCE/s48-c-k-no/photo.jpg"/> Contador</a> <span>8h ago</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="info2">
					<ul>
						<li>
							<div class="count">s
							</div>
							<div class="bar">s
							</div>
							<div class="mana">s
							</div>

						</li>
					</ul>




					<div class="mana"></div>
					<div class="mana"></div>
					<div class="mana"></div>
					<div class="mana"></div>
					<div class="mana"></div>
					<div class="mana"></div>
					<div class="mana"></div>
					<div class="mana"></div>
				</div>
			</div>
		</div>
	</div>
</template>