<template name="singledeck">
	{{#each deck}}																						
	<div class="container singledeck">
		<div class="row">
			<div class="col-md-5 section1">
				<div class="col1">
					<div class="upvote">
						<i class="fa fa-caret-up"></i>
						<div>{{upvotes_count}}</div>
					</div>
				</div>
				<div class="col2">
					<h1>{{deckname}}</h1>
					<div class="info1">
						<a class="userway"><img src="{{userpicture}}"/>{{username}}</a><span>&nbsp;|&nbsp;{{timeago timestamp}}</span>
					</div>
				</div>
				<div class="description">
					<p>{{description}}</p>
				</div>
				
				<ul class="comments">
					{{#if currentUser}}
					<li style="margin-top:0;">
						<div class="col1">
							<img src="{{current_userpicture}}"/>
							<a class="name">{{current_username}}</a>
						</div>
						<div class="col2">
							<textarea placeholder="Write a comment ..." rows="4" id="comment_area"></textarea>
 							<button type="button" class="btn {{disabled}}" id="send_comment">Send</button>							
						</div>
					</li>
					{{/if}}
					{{#each comments}}
					<li>
						<div class="col1">
							<img src="{{userpicture}}"/>
							<a class="name">{{username}}</a>
								<div class="timeago">{{timeago timestamp}}</div>
						</div>
						<div class="col2">
							<p>{{comment}}
							</p>
						</div>
					</li>
					{{/each}}
				</ul>
				
			</div>
			<div class="col-md-3 section2">
				<div class="{{class}}">
				</div>
				<ul class="curves">
					<li>
						<div class="number">{{mana_count 0}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 0}}%">
							</div>
						</div>
						<div class="mana">
							<span>0</span>
						</div>
					</li>
					<li>
						<div class="number">{{mana_count 1}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 1}}%">
							</div>
						</div>
						<div class="mana">
							<span>1</span>
						</div>
					</li>
					<li>
						<div class="number">{{mana_count 2}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 2}}%"></div>
						</div>
						<div class="mana">
							<span>2</span>
						</div>
					</li>
					<li>
						<div class="number">{{mana_count 3}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 3}}%">
							</div>
						</div>
						<div class="mana">
							<span>3</span>
						</div>
					</li>
					<li>
						<div class="number">{{mana_count 4}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 4}}%">
							</div>
						</div>
						<div class="mana">
							<span>4</span>
						</div>
					</li>
					<li>
						<div class="number">{{mana_count 5}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 5}}%">
							</div>
						</div>
						<div class="mana">
							<span>5</span>
						</div>
					</li>
					<li>
						<div class="number">{{mana_count 6}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 6}}%">
							</div>
						</div>
						<div class="mana">
							<span>6</span>
						</div>
					</li>
					<li>
						<div class="number">{{mana_count 7}}</div>
						<div class="bar">
							<div class="actual" style="height:{{height 7}}%">
							</div>
						</div>
						<div class="mana">
							<span>7+</span>
						</div>
					</li>
				</ul>
				<ul class="cardlist">
					{{#each decklist}}
					<li>
						<a href="">
						<span class="mana">{{this.cost}}</span>
						<span class="name">{{this.name}}</span>
						{{#if legendary}}
							<span class="count"><i class="fa fa-star"></i></span>
						{{else}}
							{{#if more_than_one}}
								<span class="count">{{this.count}}</span>
							{{/if}}
						{{/if}}
						</a>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="col-md-4 hidden-xs hidden-sm column2">
				<div class="comeon">
					<a href="/build-deck" class="btn btn-build btn-lg" >Build a Deck</a>
					<h3><span style="font-weight:800;font-size:48px"><span style="font-weight:300">& </span>BLOW</span><br><span style="font-weight:800;font-size:33px"> OUR MINDS</span><br>
						<span style="font-size:28px;font-weight:300">WITH YOUR STRATEGY</span></h3>

				</div>
			</div>
		</div>
	</div>
	{{/each}}
</template>