<template name="singlecard">
	{{#each card}}																						
	<div class="container singlecard">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-md-5" style="text-align:center;">
						<img style="margin-bottom:10px" src="http://s3.amazonaws.com/hearthstoner/cards/{{cardid}}bgw.jpg" alt="Hearthstone: {{name}} Card of {{class}}"/>
					</div>
					<div class="col-md-7">
						<h1>{{name}}</h1>
						<ul class="infobadges">
							<li class="color-gray1">
								<div class="title">CLASS</div>
								<div class="info"><span>{{card_class}}</span></div>
							</li>
							<li class="{{rarity}}">
								<div class="title">RARITY</div>
								<div class="info" ><span>{{rarity}}</span></div>
							</li>
						</ul>
						<ul class="infobadges">
							<li class="color-blue1">
								<div class="title">COST</div>
								<div class="info font2"><span>{{cost}}</span></div>
							</li>
							<li class="color-yellow1">
								<div class="title">ATTACK</div>
								<div class="info font2"><span>{{attack}}</span></div>
							</li>
							<li class="color-red1">
								<div class="title">HP/DUR</div>
								<div class="info font2"><span>{{hp_or_dur}}</span></div>
							</li>
						</ul>
						<ul class="infobadges">
							<li class="color-turquoise2">
								<div class="title">TYPE</div>
								<div class="info"><span>{{type}}</span></div>
							</li>
							<li class="color-turquoise2">
								<div class="title">SUBTYPE</div>
								<div class="info"><span>{{subtype}}</span></div>
							</li>
						</ul>
						<ul class="infobadges">
							{{#each ability}}
							<li class="color-orange1">
								<div class="title">ABILITY</div>
								<div class="info"><span>{{this.ability}}</span></div>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="row bigtexts">
					<div class="col-md-12">
						<div class="unit">
							<h3>HOW TO GET</h3>
							<p>{{how_to_get}}</p>
						</div>

						<div class="unit">
							<h3>CARD TEXT</h3>
							<p>{{cardtext}}</p>
						</div>

						<div class="unit">
							<h3>FLAVOR TEXT</h3>
							<p>{{flavourtext}}</p>
						</div>

						<div class="unit">
							<h3>STRATEGY</h3>
							<p>{{strategy}}</p>
						</div>
						<div class="unit">
							<h3>LORE</h3>
							<p>{{lore}}</p>
						</div>
						<div class="unit" style="text-align:right !important;">
							<h3 style="text-align:right !important;">ARTIST</h3>
							<p>{{artist}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 hidden-md hidden-sm hidden-xs column2">
				<div class="comeon">
					<a href="/build-deck" class="btn btn-build btn-lg" >Build a Deck</a>
					<h3><span style="font-weight:800;font-size:48px"><span style="font-weight:300">& </span>BLOW</span><br><span style="font-weight:800;font-size:33px"> OUR MINDS</span><br>
						<span style="font-size:28px;font-weight:300">WITH YOUR STRATEGY</span></h3>

				</div>
			</div>
		</div>
	</div>
	{{/each}}
</template>